@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.cdnfonts.com/css/kotori-rose');
@tailwind base;
@tailwind components;
@tailwind utilities;

.main{
  /* background-image: url('../src/assets/bg.jpg'); */
  /* background-color:red; */
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

